h3 
{
    font-size: 25px !important;
}
.golden-btn:hover
{
 padding:20px;
 border-radius: 20%;
 font-size: 20px;
 color:black;
    background-color: rgba(255, 0, 0, 0.09);
}
canvas {
    animation-name: example;
    animation-duration:4s ;
    animation-iteration-count:infinite ;
}

@keyframes example {
    from {box-shadow: 1px 1px 38px rgba(255, 0, 162, 0.423);}
    to{box-shadow: 1px 1px 38px #ffc2cc;}
}
.golden-btn
{
    background-color: goldenrod
}
